body {
	background-color: wheat;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
}

h1 {
	font-style: italic;
	font-size: 45px;
}

h2 {
	font-size: 30px;
}

a {
	font-weight: bolder;
}

a:hover {
	text-decoration: none;
}

.nav-wrapper {
	padding-left: 100px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: black;
	padding-top: 0px;
}

.nav-wrapper #ex {
	color:white;
	float: left;
}

.nav-wrapper #scruz {
	color:wheat;
	float: left;
}

.nav-wrapper #me {
	color:white;
	float: left;
}

.nav-wrapper ul #link1 a:hover {
	color:blanchedalmond;
}

.nav-wrapper ul #link2 a:hover {
	color:turquoise;
}

.nav-wrapper ul #link3 a:hover {
	color:magenta;
}

.nav-wrapper ul #link4 a:hover {
	color:yellow;
}

.content {
	font-size: 20px;
	text-align: right;
}

.content ul li {
	list-style-type: disc;
	list-style-position: inside;
}


#Steph img{
	padding-top: 20px;
	width: 400px;
	float:left;
}

.row {
}

#MichIMG img {
	width: 400px;
	float:right;
	text-align: text-bottom;
}

#UFIMG img {
	width: 400px;
	float:right;
	text-align: text-bottom;
}

.material-icons {
	font-size = 50px;
}