body {
	background-color: teal;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}

h1 {
	font-style: italic;
	font-size: 50px;
}

a {
	color: blue;
	font-weight: bolder;
}

.intro {

}

.basics {

}

.contact {

}

.goals {

}

.exp {

}

.skills {

}

.hob {

}